.s-header {
    align-items: center;
    background-color: $primary-medium;
    display: flex;
    justify-content: space-between;
    padding: 2.5rem;
    padding-bottom: 2.1rem;
    position: sticky;
    top: 0;
    z-index: 5;

    &__settings-wrapper {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        flex: 1;
        flex-basis: 0;
    }

    &__dropdown {
        margin-right: 4.1rem;
    }

    &__search-icon-link {
        margin-right: 2.7rem;
    }

    &__search-icon {
    }

    &__profile-icon {
    }
}
