// banner text scroll animation
@keyframes bannerSideScroll {
    from {
        transform: translateX(0) translateY(-50%);
    }
    to {
        transform: translateX(100%) translateY(-50%);
    }
}

@keyframes bigBannerSideScroll {
    0% {
        transform: translateX(0%) translateY(-50%);
    }
    50% {
        transform: translateX(25%) translateY(-50%);
    }
    100% {
        transform: translateX(0%) translateY(-50%);
    }
}

@keyframes headingsScroll {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}
