// banner text scroll animation
@keyframes bannerSideScroll {
    from {
        transform: translateX(0) translateY(-50%);
    }
    to {
        transform: translateX(100%) translateY(-50%);
    }
}

@keyframes headingsScroll {
    0% {
        transform: translateX(-50%);
    }
    50% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes sideScrollAndBack {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(50%);
    }
    75% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes projectCardsScroll {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0);
    }
}
