//ZONE - breakpoints

$bp-colossus: 1921px;
$bp-huge: 1380px;
$bp-large: 1250px;
$bp-medium-big: 1040px;
$bp-medium: 960px;
$bp-small: 720px;
$bp-tiny: 540px;
$bp-microscopic: 420px;

// @media (max-width: $custom-breakpoint-here) {}
