.btn {
    cursor: pointer;

    &__primary {
        transition: color 0.2s ease-in;
        &:hover {
            color: $tertiary-medium;
        }
    }

    &__secondary {
        & svg * {
            transition: all 0.2s ease-in;
        }

        &:hover {
            & svg * {
                color: $tertiary-medium;
                fill: $tertiary-medium;
                stroke: $tertiary-medium;
            }
        }
    }

    &__tertiary {
        border: 1px solid $primary-medium;
        border-radius: 1rem;
        color: $primary-medium;
        padding: 1.2rem 2rem;
        transition: all 0.3s ease-out;

        &:hover {
            border: 1px solid $quaternary-medium;
            color: $quaternary-medium;
        }
    }
}
