.btn {
    cursor: pointer;

    &__primary {
        transition: color 0.2s ease-in;
        &:hover {
            color: $tertiary-medium;
        }
    }

    &__secondary {
        & svg * {
            transition: all 0.2s ease-in;
        }

        &:hover {
            & svg * {
                color: $tertiary-medium;
                fill: $tertiary-medium;
                stroke: $tertiary-medium;
            }
        }
    }
}
