@font-face {
    font-family: Lerty;
    src: url('../fonts/Lerty-Outline.otf') format('otf'),
        url('../fonts/Lerty-Outline.ttf') format('truetype'),
        url('../fonts/Lerty-Outline.woff') format('woff'),
        url('../fonts/Lerty-Outline.woff2') format('woff');
}

@font-face {
    font-family: Helvetica Neue;
    src: url('../fonts/Helvetica-Neue.otf') format('otf'),
        url('../fonts/Helvetica-Neue.ttf') format('truetype'),
        url('../fonts/Helvetica-Neue.woff') format('woff'),
        url('../fonts/Helvetica-Neue.woff2') format('woff');
}

@font-face {
    font-family: Kraftig Test;
    src: url('../fonts/KraftigTest.otf') format('otf'),
        url('../fonts/KraftigTest.ttf') format('truetype'),
        url('../fonts/KraftigTest.woff') format('woff'),
        url('../fonts/KraftigTest.woff2') format('woff');
}

// ZONE - mixins

@mixin font-family-one() {
    font-family: 'Kraftig Test', sans-serif;
}

@mixin font-family-two() {
    font-family: 'Helvetica Neue', sans-serif;
    letter-spacing: 0.72px;
}

@mixin font-family-three() {
    font-family: 'Lerty', sans-serif;
}

// ZONE - html selectors

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-family-one();
    color: $secondary-medium;
    font-weight: bold;
}

h1 {
    text-transform: uppercase;
    font-size: 9rem;
    line-height: 9.9rem;
}

h2 {
    text-transform: uppercase;
    font-size: 6.1rem;
    line-height: 7.7rem;
}

h3 {
    text-transform: uppercase;
    font-size: 5rem;
    line-height: 5.9rem;
    letter-spacing: 0.45rem;
}

body,
div,
span,
p,
ul,
ol,
blockquote,
a {
    @include font-family-one();
    color: $secondary-medium;
    font-size: 1.8rem;
    font-weight: lighter;
}

a {
    text-decoration: none;
}

p {
    line-height: 3.8rem;
}

// ZONE - helper classes

.small-text {
    font-size: 1.3rem;
}
