html {
    box-sizing: border-box;
    font-size: 62.5%; // to make one rem equal 10px
}

body {
    background-color: $primary-medium;
    position: relative;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    overflow: hidden;
    margin: 0 auto;
    max-width: 2000px;
}

.content-limit {
    margin: 0 auto;
    max-width: 1440px;
}

// ZONE - custom scrollbar styles

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $primary-medium;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $secondary-medium;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $secondary-medium;
}
